<!DOCTYPE html>
<html>
<head>
    <title>URL-GENERATOR</title>
    
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" />
    
</head>
<body>
    <h1>URL Shortener</h1>
    <form action="/" method="post">
        <label for="input">Enter the long URL:</label>
        <input type="text" name="input" >
        <button type="submit">Shorten URL</button>
    </form>
    <div>
        {% if result %}
            <p>Shortened URL: <a href="{{ result }}">{{ result }}</a></p>
        {% endif %}
    </div id="history">
    <a href="{{url_for('show_old_links') }}">View Old Links</a>
    <div>

    </div>
    
</body>
</html>
